body {
    background-color: #B5B5CD;
    font-family: 'Lucida Grande', Verdana, Arial, Sans-Serif;
}

.entry {
    width: 100%;
    margin: 5px 0;
    text-align: center;
}

.entry-img {
    margin: 0 auto;
    display: inline-block;
}

.entry-img img {
    max-width: 100%;
}

.entry-caption {
    padding-bottom: 20px;
    text-align: left;
}

.navigation-previous {
    float: left;
    margin:0 0 20px 45px;
}

.navigation-next {
    float: right;
    margin: 0 45px 20px 0;
}

.bigtable {
    margin: 0 auto;
}

.littletable {
    border-spacing: 4px 3px;
}

.littletable td {
    padding: 2px 2px;
    text-align:center;
}

.cell-with-link {
    background-color: #DDDDDD;
}

.cell-with-link a {
    color: #9e2606;
}

.cell-selected {
    background-color: #9e2606;
}

.cell-selected a {
    color: #dddddd;
}

.otheryears a {
    margin-right: 15px;
}

.caption, .igal-caption{
    font-family: verdana, arial, geneva;
    font-size: 11px;
    color: #666666;
    font-weight: bold;
    text-decoration: none;
}

.caption {
    text-align: left;
}

.igal-caption{
    width: 100%;
    text-align: center;
    padding-bottom:4em;
}

.datestamp {
    font-family: Arial, Helvetica, Sans-Serif;
    line-height: 1em;
    margin-top: 4px;
    margin-bottom: 4px;
    color: #4C4C4C;
    font-size: 100%;
    font-weight: bold;
    line-height: 125%;`
}

.lightview {
    margin:12px;
    display:inline-block;
    vertical-align:middle;
}



